In [8]:
import pandas as pd
import numpy as py
import matplotlib as mpl
df = pd.read_excel(r'airline.xlsx')

print(df)

         date                          airline  souls_aboard  fatalities  \
0  2015-02-04                        transasia            58          43
1  2015-03-24                      germanwings           150         150
2  2015-08-16                      trigana air            54          54
3  2015-10-31                         metrojet           224         224
4  2016-02-02                  daallo airlines            72           1
5  2016-02-24                         tara air            23          23
6  2016-02-26                 air kasthamandap            11           2
7  2016-03-19                         flydubai            62          62
8  2016-05-19                         egyptair            66          66
9  2016-08-05                         emirates           300           0
10 2016-12-07  pakistan international airlines            48          48
11 2017-12-13               west wind aviation            25           1
12 2017-12-31                       nature air            12          12
13 2018-02-11                 saratov airlines            71          71
14 2018-02-18             iran aseman airlines            66          66
15 2018-03-12               us bangla airlines            71          51
16 2018-04-17               southwest airlines           149           1
17 2018-05-18                           cubana           113         112
18 2018-06-05                          fly sax            10          10
19 2018-07-10                        rovos air            19           1
20 2018-08-04                           ju air            20          20
21 2018-09-28                      air nuigini            47           1
22 2018-10-29                         lion air           189         189
23 2018-11-06              fly jamaica airways           128           1
24 2019-01-14                         saha air            16          15
25 2019-03-09             laser aereo colombia            14          14
26 2019-03-10               ethiopian airlines           157         157
27 2019-05-05                         aeroflot            78          41
28 2019-11-24                   busy bee congo            19          19
29 2019-12-27                          bek air            98          12
30 2020-01-08   ukraine international airlines           176         176
31 2020-02-05                 pegasus airlines           177           3
32 2020-05-22  pakistan international airlines            99          97
33 2020-08-07                air india express           190          20

    ground_fatalities
0                   0
1                   0
2                   0
3                   0
4                   0
5                   0
6                   0
7                   0
8                   0
9                   1
10                  0
11                  0
12                  0
13                  0
14                  0
15                  0
16                  0
17                  0
18                  0
19                  1
20                  1
21                  0
22                  0
23                  0
24                  0
25                  0
26                  0
27                  0
28                  7
29                  0
30                  0
31                  0
32                  1
33                  0

In [7]:
df = df.drop (df[df.ground_fatalities < 1 ].index)

print(df)

         date                          airline  souls_aboard  fatalities  \
9  2016-08-05                         emirates           300           0
19 2018-07-10                        rovos air            19           1
20 2018-08-04                           ju air            20          20
28 2019-11-24                   busy bee congo            19          19
32 2020-05-22  pakistan international airlines            99          97

    ground_fatalities
9                   1
19                  1
20                  1
28                  7
32                  1

In [20]:
df['souls_aboard'].sum()

3012

In [21]:
round(df['fatalities'].mean(),0)

52.0

In [22]:
df['fatalities'].median()

21.5

In [23]:
df['ground_fatalities'].max()

7

In [24]:
df['souls_aboard'].min()

10